.app-screen{
 display: block;
}
.score-container{
}

.header{
    display: flex;
    padding: 10px  10px 0px 10px;
    justify-content: space-around;
    max-width: 340px;
}
.head{

}
.main-content{
   width: 320px;
}
.horizontal-ruler{
    height: 3px;
    background-color: black;

}
.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    margin: 0 5px;
}
.card-container{
    background: rgba(245, 245, 245, 0.8);
    padding: 10px;
    border-radius: 7px;
    margin: 15px 0px;
    font-family: "Roboto";
    box-shadow:  2px 2px  4px rgb(128,128,128,0.5);
    cursor: pointer;
}
.match-details{
    font-size: 0.6rem;
    opacity: 0.6;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
.team{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: 5px 0px;
    color: rgb(11, 11, 11,0.8);
}
.card-match{
   padding: 5px;
}
.team-container-left{
    display: flex;
    justify-content: center;
    align-content: center;
}
.team-name{
    margin-left: 10px;
}
.score{
    color: rgb(109, 109, 109);
    font-size: 0.8rem;
}